
.schedule-container {
	padding: 0;
  }

  .MuiTable-root {
	table-layout: fixed;
	width: 100%;
  }


.MuiTableCell-head.employee-header {
	width: 8%;
}

.MuiTableCell-body.hoursPerWeek {
	font-weight: bold;
	text-align: right;
}

.MuiTableCell-head.total-header {
	width: 8%;
}
 .MuiIconButton-root {
	border-radius: 5px;
	max-width: fit-content;
	padding: 5px;
  }

.MuiToolbar-root {
	padding: 0;
}

.MuiToolbar-root.app-bar {
	padding: 0px 12px;
}
