.task {
	color: grey;
	padding: 5% 0 0 5%;
	border-radius: 10px;
	margin-bottom: 5px;
	box-shadow: 4px 3px 3px grey;
	background-color: white !important;
	cursor: pointer;
  }

.task-time {
	font-weight: bolder;
	color:black;
}

.task-title {
	color:grey;
	font-weight: bold;
}

.task:hover {
	transform: scale(1.05);
	box-shadow: 5px 5px 5px grey;
}

.delete-task {
	display: flex;
	justify-content: right;
	margin-top: -15px;
}
