.WeekPicker{
    display: flex;
    justify-content: center;
    align-items: center;
	gap: 10px;
}


.rs-picker-toggle-wrapper {
    display: inline-block;
    max-width: 90%;
    vertical-align: middle;
}

.rs-calendar-table-cell-week-number{
	background-color: #4caf50;
	color: white;
	font-weight: bolder;
}

.rs-input-group:not(.rs-input-group-disabled).rs-input-group-focus {
	border-color: #00bcd4;
}

.rs-btn-primary {
	background-color: #00bcd4;
}


.rs-calendar-table-row:not(.rs-calendar-table-header-row):hover .rs-calendar-table-cell-content {
    background-color: rgba(204,233,255,.5);
    background-color: var(--rs-listbox-option-hover-bg);
    color: #1675e0;
    color: var(--rs-listbox-option-hover-text);
}

.rs-calendar-table-row:not(.rs-calendar-table-header-row):has(.rs-calendar-table-cell-selected) .rs-calendar-table-cell-content {
    background-color: #00bcd4;
    background-color: #00bcd4;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    color: var(--rs-calendar-date-selected-text);
}


.rs-input {
	text-align: center;
	color:#00bcd4;
	font-weight: bold;
	cursor: pointer;
}
